<table>
  <tr>
    <td colspan="3">
      <h2>List of News with "#{{tag}}"</h2>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <p style="color: cornflowerblue;">Try clicking the tags!!</p>
    </td>
  </tr>
  <tr>
    <td><button [routerLink]="['/']" (click)="loadState()">Back</button></td>
    <td></td>
    <td><button [routerLink]="['/post']">Post News</button></td>
  </tr>
  <tr>
    <td colspan="3">
      <!-- {{newsList | json}} -->
      <table *ngFor="let n of newsList" border="1" width="500">
        <h4>{{n.title}}</h4>
        <p>Publish date: {{n.postDate | date:'medium'}}</p>
        <img src="{{n.image}}" style="max-height: 200px; max-width: 500px;">
        <p>{{n.description}}</p>
        <span *ngFor="let t of n.tags" style="background-color: aliceblue; margin: 2px;
        cursor: pointer;" (click)="goToTag(t)">{{t}}</span>
      </table>
    </td>
  </tr>
</table>
